.menu {
  width: 15%;
  height: 100%;
  background-color: #9AC355;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
    
}

.menu a:hover {
  background-color: #9AD355;
}