.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list {
  height: 100vh;
  width: 25%;
  background-color: gray;
}

.message {
  height: 100vh;
  width: 75%;
  background-color: green;
}