.container {
  width: 75px;
  height: 100%;
  background-color: #9AC355;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  margin:0px;
  padding:0px;
}

.container a {
    text-decoration: none;
    color: black;
    padding-top: 100px;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
    
}

.container a:hover {
  background-color: #9AD355;
  cursor: pointer;
  display: block;
}

.container a:active  {
  background-color: #9AC355;
}
